.blogSelection {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background: radial-gradient(
      circle at 150% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  float: left;
  width: 15%;
  border-radius: 10px;
  justify-items: center;
  margin-top: 1%;
}

.blogSelection ul {
  padding: 1%;
  list-style: none;
}

.content {
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto auto auto;
  border-radius: 10px;
  padding: 1%;
}

.blogEntry {
  filter: contrast(200%) brightness(100%);
  background: radial-gradient(
      circle at 150% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);

  padding: 1% 2%;
  border: solid 1px;
  border-color: gray;
  border-radius: 10px;
}

details summary {
  list-style: none;
  cursor: pointer;
}
