.blogLayout {
  display: grid;
  gap: 10px;
  grid-template: 5fr auto / 20fr 80fr;
  grid-template-areas:
    "title title"
    "sidebar content";
}

.blogSelection {
  grid-area: sidebar;
  padding: 1%;
  background-color: brown;
  border-radius: 10px;
}

.blogSelection ul {
  padding: 1%;
  background-color: azure;
  list-style: none;
}

.content {
  grid-area: content;
  display: grid;
  gap: inherit;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "blogOne"
    "blogTwo"
    "blogThree"
    "blogFour";
  border-radius: 10px;
  padding: 1%;
  background-color: black;
}

.Blog1 {
  border-radius: 10px;
  padding: 1%;
  background-color: rgb(41, 156, 62);
  grid-area: blogOne;
}

.Blog2 {
  border-radius: 10px;
  padding: 1%;
  background-color: firebrick;
  grid-area: blogTwo;
}

.Blog3 {
  border-radius: 10px;
  padding: 1%;
  background-color: azure;
  grid-area: blogThree;
}

.Blog4 {
  border-radius: 10px;
  padding: 1%;
  background-color: bisque;
  grid-area: blogFour;
}
