h2 {
  font-family: "Mauline", sans-serif;
  font-size: 3rem;
  background-image: radial-gradient(
      circle at 35% 50%,
      rgb(49, 49, 94),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

.blogSelection {
  display: flex;
  flex-direction: column;
  padding: 1%;
  float: left;
  width: 15%;
  border-radius: 10px;
  border: solid;
  border-color: rgba(56, 56, 107, 1);
  align-items: center;
  margin-top: 1%;
}

.blogSelection ul {
  padding: 1%;
  list-style: none;
}

.blogSelection ul li {
  margin: 2rem;
  font-weight: bold;
}

.content {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto auto auto;
  border-radius: 10px;
  padding: 1%;
}

.blogEntry {
  filter: contrast(200%) brightness(100%);
  padding: 1% 2%;
  border-radius: 10px;
}

details summary {
  list-style: none;
  cursor: pointer;
  width: auto;
  min-height: 200px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(
      to right,
      rgba(56, 56, 107, 0.5) 35%,
      rgba(75, 25, 129, 0) 100%
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  padding: 1%;
  color: darkslategray;
  box-shadow: 1px 2px 4px -1px #413f3f;
  transition: all 200ms ease-in-out;
}

.e-content {
  margin-inline: 2rem;
  font-size: 1.2rem;
}

.p-summary {
  font-size: 1.3rem;
}

details summary.shadow {
  position: relative;
}

details summary.shadow::before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 25%;
  top: 0;
  box-shadow: 0 15px 10px #3a3a3a;
  transform: rotate(4deg);
  transition: all 200ms ease-in-out;
}

details summary:hover {
  background: linear-gradient(
      to right,
      rgba(56, 56, 107, 0.5) 0%,
      rgba(56, 56, 107, 0.5) 100%
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

details summary.shadow:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

@media (max-width: 800px) {
  .blogSelection {
    display: flex;
    float: none;
    width: auto;
    margin-inline: 1%;
  }

  .blogSelection ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    list-style: none;
  }

  .blogSelection ul li {
    margin: 0.7rem;
    font-weight: bold;
  }

  .p-name {
    font-size: 2.2rem;
  }

  .e-content {
    margin-inline: 1rem;
    font-size: 1rem;
  }

  .p-summary {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .blogSelection {
    display: flex;
    float: none;
    width: auto;
    margin-inline: 1%;
  }

  .blogSelection ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    list-style: none;
  }

  .blogSelection ul li {
    margin: 0.7rem;
    font-weight: bold;
  }

  .p-name {
    font-size: 1.9rem;
  }

  .e-content {
    margin-inline: 0.6rem;
    font-size: 0.8rem;
  }

  .p-summary {
    font-size: 1rem;
  }
}
