html {
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

h1 {
  font-family: "Mauline", sans-serif;
  font-size: 9rem;
  background-image: radial-gradient(
      circle at 45% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

header p {
  font-family: "Mauline", sans-serif;
  font-size: 3rem;
  padding-left: 1rem;
  background-image: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

h2 {
  font-family: "Mauline", sans-serif;
  font-size: 3rem;
  background-image: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

nav {
  backdrop-filter: blur(7px);

  border-bottom: solid;
  border-color: rgba(56, 56, 107, 0.7);
  display: flex;
  justify-content: space-between;
}

.navMenu {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  margin-bottom: 2rem;
}

.navMenu li a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 8px;
  margin: 5px auto;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    rgba(56, 56, 107, 1);
  color: white;
  padding: 10px 20px;

  border-radius: 50px;
}

@media (hover: hover) {
  /* when hover is supported */
  nav a:hover {
    color: white;
    background: url(https://grainy-gradients.vercel.app/noise.svg), black;
    border-radius: 50px;
    padding: 10px 20px;
  }
}

main {
  margin-bottom: 1rem;
}

body {
  margin: 1%;
}

.logo {
  margin-top: 1rem;
  padding-left: 1%;
  font-size: 1.2rem;
  font-weight: bold;
}

footer {
  border-top: solid;
  border-color: rgba(56, 56, 107, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}

@media (max-width: 700px) {
  .logo {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 2.1em;
  }

  footer {
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .logo {
    display: none;
  }

  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  header p {
    font-size: 1.5em;
  }

  footer {
    font-size: 0.6rem;
  }

  .hamburger {
    display: block;
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    height: 100vh;
    background: lightgrey;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease;
  }

  .navMenu.active {
    left: 0;
  }
}
