:root {
  --light-grey: rgb(243, 243, 243);
  --border-width: 3px;
  --grainy-gradient: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);

  --black-gradient: radial-gradient(
      circle at 40% 50%,
      rgb(38, 38, 45),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);

  --fs-title-med: 4rem;
  --fs-subheading-med: 1.8rem;
  --fs-normal-med: 0.85rem;

  --fs-title-small: 3rem;
  --fs-subheading-small: 1.3rem;
  --fs-normal-small: 0.75rem;

  --padding-med: 0.7rem;
  --padding-small: 0.5rem;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

main {
  padding-inline: 8rem;
  margin-bottom: 1rem;
}

header {
  padding-inline: 8rem;
  margin-top: 5rem;
  font-weight: bolder;
}

header p {
  font-size: 1.5rem;
  background-image: var(--grainy-gradient);
  background-clip: text;
  color: transparent;
  font-weight: bolder;
}

h1 {
  font-family: "Mauline", sans-serif;
  font-size: 5rem;
  background-image: var(--grainy-gradient);
  background-clip: text;
  color: transparent;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

h2 {
  font-family: "Mauline", sans-serif;
  font-size: 2rem;
  background-image: var(--grainy-gradient);
  background-clip: text;
  color: transparent;
}

p {
  font-size: 1rem;
  font-weight: 550;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  border-radius: 50px;
  padding-inline: 1rem;
  padding-bottom: 0.1rem;
  border-color: black;
  background-color: white;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

time {
  font-style: italic;
}

.logo {
  padding-left: 1%;
  font-size: 1.3rem;
  font-weight: bold;
}

nav {
  background-color: white;
  border-bottom: solid;
  border-color: rgba(56, 56, 107, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 999;
  transition: transform 0.3s ease;
}

nav.nav-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 8px auto;
  background-color: black;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(0.2rem);
  transform-origin: left center;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.2rem);
  transform-origin: left center;
}

.navMenu {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.navMenu li a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

a :hover {
  text-decoration: underline;
}

a.active {
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    rgba(56, 56, 107, 1);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}

nav a:hover {
  color: white;
  background: url(https://grainy-gradients.vercel.app/noise.svg), black;
  border-radius: 50px;
}

#top {
  display: inline-block;
  background-color: red !important;
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: hidden;
  z-index: 9999 !important;
}

#top:hover {
  cursor: pointer;
  background-color: #333;
}
#top:active {
  background-color: #555;
}
#top.show {
  opacity: 1;
  visibility: visible;
}

#top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  /* filter: invert(1); */
}

a {
  background-image: var(--grainy-gradient);
  background-clip: text;
}

footer {
  border-top: solid;
  border-color: rgba(56, 56, 107, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  padding-inline: 1rem;
}

.email {
  padding: 0%;
  margin: 0%;
}

#mailIcon {
  display: flex;
  object-fit: contain;
  height: 3rem;
}

@media (max-width: 880px) {
  .gameEntry {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 1.2rem;
  }

  h1 {
    font-size: var(--fs-title-med);
  }

  h2 {
    font-size: var(--fs-subheading-med);
    margin-top: 2%;
    margin-bottom: 2%;
  }

  figure {
    margin-top: 0rem;
  }

  p {
    font-size: var(--fs-normal-med);
    margin: 1%;
  }

  li {
    font-size: var(--fs-normal-med);
  }

  header {
    padding-inline: 2.5rem;
    margin-top: 5rem;
  }

  header p {
    font-size: 1.2rem;
  }

  footer {
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
  }

  .navMenu {
    position: fixed;
    top: -500%;
    gap: 0;
    flex-direction: column;
    background-color: #f5f5f7;
    width: 100%;
    text-align: center;
    transition: 0.1s;
  }

  .navMenu.active {
    top: 30px;
    justify-items: center;
    padding: 0%;
  }

  .navMenu li {
    margin: 10px;
  }
  .navMenu li a {
    width: 100%;
  }

  main {
    padding-inline: 2rem;
  }

  #top {
    right: 1rem;
    bottom: 1.5rem;
    width: 2rem;
    height: 100px;
    border-radius: 50px 0 0 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #top img {
    width: 1rem;
    height: 1rem;
  }

  button {
    font-size: var(--fs-normal-med);
    border-radius: 50px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
  }

  button a {
    font-size: var(--fs-normal-small);
  }
}

@media (max-width: 450px) {
  .logo {
    font-size: 1rem;
  }

  h1 {
    font-size: var(--fs-title-small);
  }

  h2 {
    font-size: var(--fs-subheading-small);
  }

  a {
    font-size: var(--fs-normal-small);
  }

  header p {
    font-size: 1rem;
  }

  footer {
    font-size: 0.6rem;
  }

  .hamburger {
    display: block;
    margin-right: 1rem;
  }

  .navMenu {
    position: fixed;
    top: -500%;
    gap: 0;
    flex-direction: column;
    background-color: #f5f5f7;
    width: 100%;
    text-align: center;
    transition: 0.1s;
  }

  .navMenu.active {
    top: 30px;
  }

  .navMenu li {
    margin: 10px;
  }

  .navMenu li a {
    width: 100%;
  }

  button {
    font-size: var(--fs-normal-small);
    border-radius: 50px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
  }

  li {
    font-size: var(--fs-normal-small);
  }
}
