#player-container {
  background: #333;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 20px #0008;
  max-width: 400px;
  margin: auto;
}

button {
  background: #00adb5;
  border: none;
  padding: 0.8em 1.5em;
  color: white;
  font-size: 1em;
  margin-top: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

button:hover {
  background: #008b93;
}
