:root {
  --pink: #ecb2ba;
  --pink-dark: #c6939a;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(56, 56, 107, 0);
}

.HomeTitle {
  display: flex;
  flex-direction: column;
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8ea', endColorstr='#efefef',GradientType=0 ); */
  padding-left: 2%;
  /* background: linear-gradient(to bottom, #e8e8ea 0%, #efefef 100%); */

  /* margin-inline: 4%;

  border-left: 2px solid #f5f5f7;
  border-bottom: 2px solid #f5f5f7;
  border-right: 1px solid #adc0bc;
  border-top: 1px solid #f4f4f6; */

  /* box-shadow: 0 0 2px 0 #f4f4f6 inset, -1em 1em 3em 1em rgba(56, 56, 107, 0.2),
    -5em 1em 30em 1em rgba(85, 85, 105, 0.2), 0em 2px 0 rgba(92, 92, 101, 0.7),
    1.2em -0.8em 2em 0em #3e467a, 5.5em -1em 50em 0em #5f5f6e,
    0px -5px 25px 0px #80888f;

  backface-visibility: hidden;*/
}

.tagline {
  font-family: "Mauline", sans-serif;
  font-size: 3rem;
  padding-left: 3%;
  background-image: radial-gradient(
      circle at 70% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

.mainTitle {
  font-size: 9rem;
  background-image: radial-gradient(
      circle at var(--x, 90%) var(--y, 50%),
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 5px 10px rgba(32, 31, 31, 0.2);
  transition: --x 0.3s ease, --y 0.3s ease;
}

p {
  font-size: 1rem;
}

.profile {
  margin-bottom: 1%;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.gameEntry {
  display: grid;
  padding: 4%;
  box-shadow: 1px 3px 5px #3c3d69;
}

.gameImage {
  max-width: 280px;
  border-radius: 10px;
  display: flex;
  justify-self: center;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.7fr));

  justify-content: center;
  gap: 2rem;
  margin-top: 1%;
}

.top-tape {
  position: absolute;
  height: 10%;
  top: -5px;
  left: -3%;
  width: 106%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.blogEntry {
  position: relative;
  margin: 20px;
  width: 1fr;
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    rgb(92, 92, 140);

  border-radius: 2px;
  display: grid;
  padding: 4%;
}

.blogEntry::before,
.blogEntry::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 7.5px 16px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.blogEntry::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.blogEntry::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.blogEntry:hover::before,
.blogEntry:hover::after {
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.4);
}

.blogEntry:hover::before {
  left: 5px;
}

.blogEntry:hover::after {
  right: 5px;
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 8rem;
  }

  .tagline {
    font-size: 2.3rem;
  }
}

@media (max-width: 450px) {
  .mainTitle {
    font-size: 6rem;
  }

  .tagline {
    font-size: 1.9rem;
  }
}
