details summary {
  list-style: none;
  cursor: pointer;
  min-height: 200px;
  height: auto;
  display: block;
  position: relative;
}

.iteration img {
  max-width: 650px;
}

.iteration {
  border-radius: 10px;
  border: solid, 2px;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (max-width: 700px) {
  img {
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  img {
    max-width: 180px;
  }
}
