.gameEntry {
  display: flex;
  align-items: center;
  margin-top: 1%;
  padding: 1%;
  border: solid 2px;
  border-color: gray;
  border-radius: 10px;
}

.gameEntry:nth-child(even) {
  flex-direction: row-reverse;
}

.gameLink {
  font-size: 1.2rem;
  font-weight: bold;
  padding-inline: 0%;
  background-image: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-image 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.gameLink:hover {
  background-image: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(56, 56, 107, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  transform: scale(1.05); /* optional: a subtle grow effect */
}

.gameInfo {
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.gameImage {
  min-height: 100px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  flex-shrink: 0;
}

@media (max-width: 700px) {
  .gameEntry {
    flex-direction: column;
    gap: 1rem;
  }

  .gameEntry:nth-child(even) {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .gameEntry {
    flex-direction: column;
    gap: 1rem;
  }
}
