.portfolioLayout {
  display: grid;
  gap: 10px;
  grid-template-rows: 5fr auto;
  grid-template-areas:
    "title"
    "content";
}

.gameName {
  font-style: italic;
}

.content {
  align-items: center;
  padding: 1% 2% 1% 2%;
  border-radius: 10px;
  grid-area: content;
  display: grid;
  gap: inherit;
  grid-template-columns: 2fr 1fr;

  background-color: antiquewhite;
}

.gameImage {
  border-radius: 10px;
}
