h1 {
  color: pink;
  font-size: 36;
}

p {
  color: blue;
  font-size: 18;
}

ul {
  color: orange;
  list-style: square;
}

.exTwo {
  ul {
    list-style: none;
    background-color: black;
    text-decoration: none;
  }

  a {
    color: brown;
    background-color: aquamarine;
    font-size: 16;
    font-weight: bold;
    border: 0cqmin;
    border-radius: 0cqmax;
  }
}
