html {
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

h1 {
  font-family: "Mauline", sans-serif;
  font-size: xx-large;
}

nav {
  background: rgba(1, 2, 3, 0.5);
  backdrop-filter: blur(7px);
  height: 80px;
  width: 100%;

  border-radius: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-size: 25px;
  color: bisque;
  text-decoration: none;
}

a.active {
  background: #835283;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}

@media (hover: hover) {
  /* when hover is supported */
  nav a:hover {
    color: white;
    background: black;
    border-radius: 50px;
    padding: 10px 20px;
  }

  a:hover {
    color: #835283;
  }
}

.sectionTitle {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 1%;
}

body {
  margin: 1%;
}

.logo {
  padding-left: 1%;
  color: blueviolet;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
}

#logo {
  width: 50px;
}

#check {
  width: 50px;
}

.burger {
  color: green;
  float: right;
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
