html {
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

h1 {
  font-family: "Mauline", sans-serif;
  font-size: 100px;
  background-image: radial-gradient(
      circle at 45% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

h2 {
  font-family: "Mauline", sans-serif;
  font-size: 60px;
  background-image: radial-gradient(
      circle at 40% 50%,
      rgba(56, 56, 107, 1),
      rgba(129, 25, 25, 0)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  color: transparent;
}

nav {
  backdrop-filter: blur(7px);
  height: 80px;
  width: 100%;
  border-radius: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    rgba(56, 56, 107, 1);
  color: white;
  padding: 10px 20px;

  border-radius: 50px;
}

@media (hover: hover) {
  /* when hover is supported */
  nav a:hover {
    color: white;
    background: url(https://grainy-gradients.vercel.app/noise.svg), black;
    border-radius: 50px;
    padding: 10px 20px;
  }
}

.sectionTitle {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 1%;
}

body {
  margin: 1%;
}

.logo {
  padding-left: 1%;
  font-size: 25px;
  font-weight: bold;
  line-height: 80px;
}

#logo {
  width: 50px;
}

#check {
  width: 50px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
